<div class="card shadow-lg text-left h-100">
    <h5 class="card-header text-white bg-danger">Upcoming Conference / Training</h5>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <% @events.each_with_index do |event, index| %>
            <li class="list-group-item">

                <div class="row align-items-center">

                    <div class="col-12 col-lg-8">
                        <div class="text-center text-md-start mb-3 mb-lg-0">
                            <h6 class="fw-bold mb-3"><%= event.title%></h6>
                            <p>Date: <%= event.start_date.strftime('%d-%m-%Y') %> to <%=event.end_date.strftime('%d-%m-%Y') %> </p>
                        </div>
                    </div>                    
                </div>

            </li>
            <% end %>
        </ul>
        
    </div>
</div>    




