/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 @import "bootstrap/scss/bootstrap";

#server-menu-strip {
  background-color: #386a24 !important;
  margin-bottom: 40px;
  padding-top: 0px;
  padding-bottom: 0px;

  .nav-link {
    color: white;
  }

  a:hover {
    background-color: #386a24;
  }
}


.h-100 {
  max-width: 1000px;
  margin: auto;
}

#main-menu-strip {
  background-color: #e0e5d7 !important;
}

#main-menu-strip > div > a {
  color: #43483e !important;
}

#main-menu-strip > div > a:hover {
  background-color: #e0e5d7 !important;
}


// .dropdown-menu{
//   min-width: 0px;
// }


body > div.container > section > div > div.col-md-3.align-self-start > div > h5 {
  background-color: #386a24 !important;
}


#custom-button {
  background-color: #b7f39a !important;
  border-color: #b7f39a !important;
  color: #042101 !important;
  float: right;
}

#annouce-strip {
  background-color: #55624d !important;
}

.bg-light {
  background-color: #fdfdf5 !important;
}


div.container section div {
  ul li h6 { color: #1b6769 }
  
  div.form-group label { color: #191c18 }  
}

div.container div div ul li div div h6 {
  color: #1b6769
}